body {
    text-align: center;
    background-color: rgb(248, 247, 247);
    font-family: "Arial",sans-serif;
}

h1{
    color:rgb(253, 9, 49)
}

    button{
        padding: 10px;
        font-size: 10px;
        background-color: #ec91ce;
        color: #f7f6f6;
        border: none;
        border-radius: Spx;
        cursor: pointer;
    }

    button:hover{
        background-color: yellow;
    } 
    
    .result{
        margin-top: 20px;
        font-size: 20px;
    }